:root {
  --linear-gradient-1: linear-gradient(
    to top left,
    hsla(0, 72%, 51%, 0.4) 0%,
    hsla(262, 83%, 58%, 0.4)
  );

  --ff-urbanist: "Urbanist", sans-serif;
}
html {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  background: var(--linear-gradient-1) #080710 no-repeat center/cover;
  font-family: var(--ff-urbanist);
}
.previous {
  bottom: 35px;
  cursor: pointer;
  position: relative;
  left: 60px;
}
.previous:hover {
  box-shadow: 0 0 100px rgb(255, 253, 253);
}
.name {
  margin-top: 40px;
  margin-left: 50px;
  width: 15%;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.13);
  color: rgb(238, 242, 245);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}
.name p {
  margin-top: 4px;
  font-size: 30px;
  margin-left: 3rem;
}
.profilebox {
  padding-top: 2rem;
}

.top img {
  width: 370px;
  height: 120px;
  bottom: 2rem;
  position: relative;
  border-radius: 10px;
  left: 40px;
}

.container {
  width: 450px;
  height: 600px;
  padding-top: 1rem;
  border-radius: 2rem;
}

.bottom-div {
  height: 420px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.13);
  margin-left: 2.3rem;
  margin-top: -4rem;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

.profile-img {
  border: 5px solid rgb(0, 0, 0);
  border-radius: 60%;
}

.bottom-div img {
  border: 1px solid white;
  margin-left: 7rem;
  margin-top: -10rem;
  width: 6rem;
  border-radius: 50%;
}

.user_email {
  bottom: 60px;
  color: rgb(169, 182, 193);
  margin-left: 5.5rem;
}
.user_name {
  color: rgb(241, 244, 245);
  margin-left: 1rem;
}
.facebook,
.instagram {
  width: 2rem;
  position: relative;
  bottom: 4rem;
  margin-left: 6.5rem;
  cursor: pointer;
}
.instagram {
  margin-left: 2rem;
}
.btn {
  margin-left: -2rem;
  margin-top: 1rem;
}
button {
  padding: 10px 25px;
  border-radius: 2rem;
  transition: 0.5s ease-in-out;
  border-color: rgb(32, 129, 226);
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.btn:hover {
  background: rgb(32, 129, 226);
  color: white;
}
.country-code {
  font-weight: 200;
  margin-left: 3.5rem;
  color: white;
}
.right {
  width: 900px;
  height: 600px;
  margin-left: 30rem;
  bottom: 39rem;
  position: relative;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.13);
  color: rgb(238, 242, 245);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}
.sala {
  position: relative;
  left: 400px;
  bottom: 11rem;
}
.sala1 {
  position: relative;
  left: 400px;
  bottom: 8.5rem;
}
.sales {
  font-size: 15px;
  list-style: none;
}
.down {
  margin-top: 1px;
  list-style: none;
}
.nope {
  list-style: none;
  display: flex;
  line-height: 2.5rem;
}
.biodata {
  font-size: 16px;
  position: relative;
  bottom: 12rem;
  left: 3rem;
}
.heading {
  color: hwb(0 100% 0%);
  font-size: 20px;
}
.split-down {
  position: relative;
  bottom: 8rem;
}
.logout {
  left: 80rem;
  position: relative;
  bottom: 4em;
}
