.hero-title {
  margin-top: 15rem;
  margin-left: 5rem;
}
.History-name {
  width: 1400px;
  height: fit-content;
  background-color: cadetblue;
  margin-left: 5rem;
  margin-top: 1rem;
}
.order-Synopsis {
  display: flex;
  flex-direction: row;
  padding: 0px 60px;
  justify-content: space-between;
  background-color: antiquewhite;
  align-items: center;
}
.Synopsis-text {
  color: black;
  font-weight: bold;
  font-size: large;
  margin-top: 1rem;
}
.p-lists {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 60px;
  align-items: center;
  color: black;
}
.p-row img {
  width: 150px;
  height: 150px;
}
