:root {
  --linear-gradient-1: linear-gradient(
    to top left,
    hsla(0, 72%, 51%, 0.4),
    hsla(262, 83%, 58%, 0.4)
  );
  --linear-gradient-2: linear-gradient(
    to right,
    hsla(262, 83%, 58%, 1),
    hsla(0, 72%, 51%, 1)
  );

  --ff-urbanist: "Urbanist", sans-serif;
}
body {
  background: var(--linear-gradient-1) #080710;
  font-family: var(--ff-urbanist);
}
h1 {
  color: white;
  font-family: var(--ff-urbanist);
}
.geturl input {
  padding: 3px 10px;
  border-color: aliceblue;
  border-radius: 5px;
}
.geturl {
  margin-top: 10px;
}
